<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
ul.a {
  list-style-type: none;
  font-family: 'MuseoModerno', cursive;
  font-size: 22px;
}

</style>
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1" style="font-size:30px; color:green">
    &emsp;<a href="{% url 'home' %}" style="color: inherit; text-decoration: none;" >PassGen<i class="fa fa-anchor" ></i></a>
  </span>
</nav>

<div class="container text-center">
  <br>
  <h1><span class="badge badge-pill badge-dark">About Us</span></h1>
  <ul class="a">
    <li>This website generates random and unique passwords depending upon the parameters user selects.</li>
    <li>This website is creates by Abhishek Tayal.</li>
    <li>Still making it better :)</li>
    <li>Some more changes here</li>
    <li>Enjoy your time here.</li>
  </ul>

  <!--<a href="{% url 'home' %}"><span class="badge badge-pill badge-primary">Home</span></a>-->

</div>
