


<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Password Generator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      #ab{
        font-family: 'Arvo', serif;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-light bg-dark">
      <span class="navbar-brand mb-0 h1" style="font-size:30px; color:white">
        &emsp;<a href="{% url 'home' %}" style="color: inherit; text-decoration: none;" >PassGen<i class="fa fa-anchor" ></i></a>
      </span>
    </nav>
    <br>
    <div class="container text-center">

      <form action="{% url 'result_password_page' %}">

        <h2 id="ab">PASSWORD GENERATOR</h2>
        <p>
          Select preferences for password:
        </p>
        <p>
          <label for="length">Password Length</label>
          <select id = "length" name="length">
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10" selected = 'selected'>10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </p>
        <p>
          <label>Mix of small and capital letters &nbsp;<input type="checkbox" name="small_capital"></label>
        </p>
        <p>
          <label>Numbers &nbsp;<input type="checkbox" name="number"></label>
        </p>
        <p>
          <label>Special Characters &nbsp;<input type="checkbox" name="special_char"></label>
        </p>
        <p>
          <input type="submit" name="submit_button" value="Generate Password" class="btn btn-primary">
        </p>

      </form>

      <a href="{% url 'home' %}">Home</a>
      &emsp;
      <a href="{% url 'about' %}">About Us</a>

    </div>

  </body>
</html>
